* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;

}

.main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.input-field {
  padding: 10px;
  text-align: center;
}

.weather-info {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 50%;
  border-radius: 5px;
  height: 30%;
}

.error-message {
  text-transform: uppercase;
  box-shadow: 10px 10px 5px black;

}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input {
  border-radius: 2px;
}

.areatitle {
  padding-top: 0px;
  text-transform: uppercase;
}

.sidebar {
  color: black;
  border: 1px solid black;
  width: 30vh;
  height: 100vh;
  position: absolute;
  right: -30vh;
  transition: all 0.5s ease;
  overflow: auto;
}

.sidebaritem {
  height: 10%;
  border: 1px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-bottom: 1px solid;
}

.sidebarheading {
  text-align: center;
  text-decoration: underline;
}

.sidebar.active {
  right: 0vh
}

.forecasts {
  width: 80%;
  height: 20%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-left-right {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fc {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mm {
  text-align: center;
}

.bold {
  font-weight: bolder;
  color: black;
}

@media (max-width: 600px) {
  .input-field {
    width: 90%;
  }

  .weather-info {
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .forecasts {
    height: 30%;
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(3, 1fr)
  }

  .fc img {
    height: 50%;
    width: 50%;
  }
}